.successBannerClass{
    background-color: rgb(75, 192, 119);
}
.errorBannerClass{
    background-color: rgb(212, 80, 76);
}
.warningBannerClass{
    background-color: rgb(255, 183, 93);
}
.serviceDiv{
    border: 1px solid #D8DDE6;
    height: 115px;
}
.serviceName{
    border-bottom: 1px solid #D8DDE6;
    background-color: #F4F6F9;
    height: 50px;
}